.avatar {
  display: block;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: aliceblue;
  margin-top: 15px;
}

.description {
  text-align: center;
}

.name {
  font-size: 42px;
  color: rgb(18, 18, 72);
}

.tag {
  font-size: 30px;
  color: rgb(145, 160, 174);
}

.location {
  font-size: 30px;
  color: rgb(145, 160, 174);
}
